// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';


.card_size {
	width: 18rem;
}
body {
	background-color: rgb(221, 221, 244);
}
#lmv{
	background-color: #e67930 ;
	color: #ffff;
	height: 80px;
}
#header{
	background-color: #ffe600;
	margin: 0;
}
.collapse.navbar-collapse{
	// color: #2d3277;
	color: #ffff;
	font-size: 20px;
	font-weight: 900;
}
/* Regla de estilo para quitar márgenes de la barra de navegación */
.navbar {
    margin-bottom: 0;
}

/* Regla de estilo para quitar márgenes internos del contenedor de la barra de navegación */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
#search_input{
	width: 600px;
}
